body {
    margin: 0;
    padding: 0;
    background-color: #242424;
}

h1 {
    position: absolute;
    top: 15px;
    left: 30px;
    font-size: 36px;
    letter-spacing: 1.5px;
    color: #eaecee;
    z-index: 10000;
    /* border: 1px solid red; */
}

h3 {
    position: absolute;
    top: 70px;
    left: 30px;
    font-weight: 1;
    font-size: 20px;
    color: #eaecee;
    z-index: 10000;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 63%;
}

.countries_countainer {
    position: absolute;
    top: 61%;
    display: flex;
    width: 100vw;
    height: 39%;
    /* border: 1px solid blue; */
}

#countryMap {
    /* border: 1px solid green; */
    width: 50%;
    height: 100%;
}


#countryViz {
    /* border: 1px solid blue; */
    width: 50%;
}

.content {
    position: absolute;
    top: 0%;
    /* left:60%; */
    z-index: 1000000;
}

.name {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #eaecee;
}



.legend-title {
    display: flex;
    position: absolute;
    top: 46%;
    left: 30px;
    font-size: 12px;
    color: #eaecee;
}

.legend {
    display: flex;
    position: absolute;
    top: 47%;
    left: 30px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.color {
    display: block;
    padding: 0 0 0 0px;
    width: 67px;
    height: 20px;
    background-color: #fff;
    z-index: 100;
    border: 1px solid #3b3b3b;
}

.color-container-m {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.color-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.color-container-z {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    font-size: 12px;
    color: #eaecee;
}

.zero {
    background-color: #3b3b3b;
}

.five {
    background-color: #d98880;
}

.six {
    background-color: #cd6155;
}

.seven {
    background-color: #c0392b;
}

.eight {
    background-color: #922b21;
}
